<div class="row ml-5">
  <% @favorites.each do |bookmark| %>
　  <div class="col-md-5-mx-5">
        <p class="card-body text-center text-light">
        <%= link_to post_path(bookmark.post) do %>
            <%= image_tag bookmark.post.image, size: "230x230" %><br>
        <% end %>
        <% if bookmark.post.asbol=="店飲み" %>
          <%= bookmark.post.asbol %><br>
          <%= bookmark.post.name %><br>
          <%= bookmark.post.address %><br>
        <% elsif bookmark.post.asbol=="家飲み" %>
        　<%= bookmark.post.asbol %><br>
          <%= bookmark.post.name %><br>
        <% end %>
      </p>
    </div>
  <% end %>
</div>



