  <div class="container-fluid">
    <div class="row">
      <div class="col mt-7 text-light">
        <div class="mx-auto pt-5" style="width: 600px" style="margin-top: 50px;">
            <% if @category=="shop_name" %>
          <h4>店飲み</h4>
          <%= form_with model: @post, url: posts_path, method: :post do |f| %>
            <div class="form-group">
              <%= f.text_field :shop_name, placeholder:"お店の名前",size:"60*60" %>
            </div>
            <div class="form-group">
              <%= f.select :genre, Post.genres.keys, { include_blank: "指定なし" }, class: "prefecture-select" %>
            </div>
            <div class="form-group">
              <%= f.text_area :comment,placeholder:"コメント",size:"60*60" %>
            </div>
            <div class="form-group">
              <%= f.file_field :image, accept: "image/*" %>
            </div>
            <div class="form-group">
              <%= f.text_field :address, placeholder: "住所",size:"60*60" %>
            </div>
            <%= f.hidden_field :asbol, :value =>"shop_name" %>
            <%= f.submit '投稿' %>
          <% end %>
          <% elsif @category=="alcohol" %>
           <h3>宅飲み</h3>
          <%= form_with model: @post, url: posts_path, method: :post do |f| %>
            <div class="form-group">
             <%= f.select :genre, Post.genres.keys, { include_blank: "指定なし" }, class: "prefecture-select" %>
            </div>
            <div class="form-group">
              <%= f.text_area :comment,placeholder:"コメント",size:"60*60" %>
            </div>
            <div class="form-group">
              <%= f.file_field :image, accept: "image/*" %>
            </div>
            <%= f.hidden_field :asbol, :value =>"alcohol" %>
            <%= f.submit '投稿' %>
            <% end %>
            <% else %>
            <h3>投稿する</h3>
          <% end %>
        </div>
      </div>
    </div>

