<div class="container-fluid">
  <div class="row">
    <div class="col mt-7 text-light">
      <div class="mx-auto pt-5" style="width: 700px" style="margin-top: 50px;">
        <%= link_to member_path(@member) do %>
          <h3><%= @post.member.nickname %></h3>
        <% end %>
        <div class="mb-3">
          <% if current_member == @post.member %>
            <%= link_to "編集する", edit_post_path, class: "btn btn-outline-success btn-sm" %>
            <%= link_to "削除", post_path(@post.id), method: :delete,class: "btn btn-outline-success btn-sm", "data-confirm" => "本当に削除しますか？" %><br>
          <% end %>
        </div>
        <div class="ml-5">
          <%= image_tag @post.image, size: "600x400" %><br>
          <h4><%= @post.name %></h4>
          <%= @post.comment %><br>
          <div id="favorite_buttons_<%= @post.id %>">
          <%= render "public/favorites/favorite", post: @post %>
        </div>
        <p>
        <%= link_to post_comment_path(@post)do %>
          コメント件数：<%= @post.post_comments.count %>
        <% end %>
         </p>
         </div>
         <h5><%=@post.address %></h5>
          <div id='map'></div>
          <style>
          #map {
            height: 500px;
            width:700px;
          }
          </style>

          <script>
          let map

          function initMap(){
            var test ={lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
            map = new google.maps.Map(document.getElementById('map'), {
              center: test,
              zoom: 16
            });

            marker = new google.maps.Marker({
              position: test,
              map: map
            });
          }

          </script>

          <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
        </div>
      </div>
    </div>
  </div>




