<span><%= @post.shop_name %></span>
<%= link_to member_path(@member) do %>
<%= @post.member.nickname %>
<% end %>
<%= @post.explanation %>
<%= image_tag @post.image, size: "200x200" %>
<div>
  <p>コメント件数：<%= @post.post_comments.count %></p>
  <% @post.post_comments.each do |post_comment| %>
    <%= post_comment.member.nickname %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
  <% end %>
</div>
<div>
  <%= form_with model: [@post, @post_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>
<% if @post.favorited_by?(current_member) %>
    <p>
      <%= link_to post_favorites_path(@post), method: :delete do %>
        ♥<%= @post.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_favorites_path(@post), method: :post do %>
        ♡<%= @post.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
  <% if current_member == @post.member %>
  <span class="ml-3"><%= link_to "編集する", edit_post_path, class: "btn btn-outline-success btn-sm" %></span>
  <%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
  <% end %>
<h2>gmap</h2>

<input id="address" type="textbox" value="GeekSalon">
<input type="button" value="Encode" onclick="codeAddress()">

<div id="display">何かが表示される、、、、！</div>

<div id='map'></div>

<style>
#map {
  height: 300px;
  width:300px;
}
</style>

<script>
let map

function initMap(){
  var test ={lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
  map = new google.maps.Map(document.getElementById('map'), {
    center: test,
    zoom: 16
  });

  marker = new google.maps.Marker({
    position: test,
    map: map
  });
}

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>



