<div class="contents_1p">
  <div  class="container text-light">
    <div class="row">
      <div class="col-md-5">
        <h3>マイページ</h3>
      </div>
    </div>
    <% if current_member != @member %>
      <%= render 'public/members/member',member: @member %>
    <% else %>
      <%= render 'public/members/mypage',member: @member %>
    <% end %>
  </div>
  <div class="row">
    <% @post.each do |posts| %>
      <div class="col-md-3-mx-2">
        <p class="card-body text-center text-light">
          <%= link_to post_path(posts.id) do %>
            <%= image_tag posts.image, size: "230x230" %><br>
          <% end %>
          <%= posts.shop_name %><br>
          <%= posts.address %><br>
        </p>
      </div>
    <%end%>
  </div>
</div>