<div class="row">
  <div class="col mt-7 text-light">
    <div class="mx-auto pt-5" style="width: 600px" style="margin-top: 50px;">
      <% if @post.asbol == 'shop_name' %>
        <h4>店飲み</h4>
        <%= form_with model: @post, url: post_path do |f| %>
          <div class="form-group">
            <%= f.text_field :name, placeholder:"お店の名前",size:"60*60" %>
          </div>
          <div class="form-group">
            <%= f.text_area :comment,placeholder:"コメント",size:"60*60" %>
          </div>
          <div class="form-group">
            <%= f.file_field :image, accept: "image/*" %>
          </div>
          <div class="form-group">
            <%= f.text_field :address, placeholder: "住所",size:"60*60" %>
          </div>
          <%= f.hidden_field :asbol, :value =>"宅飲み" %>
          <%= f.submit '投稿' %>
        <% end %>
      <% elsif @post.asbol=='alcohol' %>
        <h3>宅飲み</h3>
        <%= form_with model: @post, url: post_path do |f| %>
          <div class="form-group">
            <%= f.text_field :name, placeholder:"お酒の名前",size:"60*60" %>
          </div>
          <div class="form-group">
            <%= f.file_field :image, accept: 'image/*' %>
          </div>
          <div class="form-group">
            <%= f.text_area :comment,placeholder:"コメント",size:"60*60" %>
          </div>
          <%= f.hidden_field :asbol, :value =>"家飲み"%>
          <%= f.submit '投稿' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
