<div class="container-fluid">
  <div class="row">
    <div class="col mt-7 ">
      <div class="mx-auto pt-5" style="width: 600px" style="margin-top: 50px;">
      <%= form_with model: [@post, @post_comment] do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに",size: "70x5" %><br>
        <div class="mb-2">
          <%= f.submit "送信する" %>
        </div>
      <% end %>
      <% @post.post_comments.each do |post_comment| %>
        <div class="card mb-2" style="width: 39rem;">
          <h6 class="card-title"><%= post_comment.member.nickname %></h6>
          <p class="card-text"><%= simple_format(h(post_comment.comment)) %></p>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>